h2{
    text-align: center;
}
h1{
    font-size: 50px;
}
body{
    background-color: lightsteelblue;
}
.option{
    display: flex;
    justify-content: center;
    font-size: 15px;
}
.container>div {
    width: 300px;
    padding: 5px;
    background-color: white;
    margin: 10px;
    text-align: center;
    border-radius: 10%;
}
.container{
    display: flex;
    justify-content: center;
}
.button{
    width: 200px;
    height: 40px;
    background-color: lightsteelblue;
}
.container>div:hover{
    background-color: blueviolet;
    color: white;
    margin: -20px;
    z-index: 4;
}
.button:hover{
    color:white;
    border-color: white;
}
@media  screen and (max-width: 600px){
    .container{
        width: 300px;
        flex-direction: column;
        margin: 70px;
    }   
}.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked+.slider {
    background-color: #2196F3;
}
input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}